# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [1]:
# TODO: import the pandas library
import pandas as pd
# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('../data/rural_population_percent.csv', skiprows = 3)
df_electricity = pd.read_csv('../data/electricity_access_percent.csv', skiprows = 3)

# TODO: remove the Unnamed: 62 column from each data set
df_rural.dropna(how = 'all', axis = 1, inplace = True)
df_electricity.dropna(how = 'all', axis = 1, inplace = True)

# TODO: combine the two data sets together using the concat method
# In other words, all of the rows of df_rural will come first
# followed by all the rows in df_electricity. This is possible to do
# because they both have the same column names.
df = pd.concat([df_rural, df_electricity], join = 'outer')

# Exercise 2 (Challenge)

This exercise is more challenging.

Combine the two datas in the csv file together so that the output looks like the following:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [2]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value
years_rural = df_rural.loc[:, "1960":]
years_electrical = df_electricity.loc[:, "1990":]

df_rural_melt = df_rural.melt(id_vars=['Country Name', 'Country Code'], value_vars = years_rural, var_name = "Years", value_name = "Rural Value")
df_electricity_melt = df_electricity.melt(id_vars=['Country Name', 'Country Code'], value_vars = years_electrical, var_name = "Years", value_name = \
                                          "Electricity Value")

# TODO: drop any columns from the data frames that aren't needed
# I didn't used the indicator columns for the melt, so all columns needed

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_merge = df_rural_melt.merge(df_electricity_melt, on = ['Country Name', 'Country Code', 'Years'])

# TODO: sort the results by country and then by year
df_combined = df_merge.sort_values(['Country Name', 'Years'])

In [3]:
df_combined

     Country Name Country Code Years  Rural Value  Electricity Value
1     Afghanistan          AFG  1990       81.684           0.010000
265   Afghanistan          AFG  1991       81.403           0.010000
529   Afghanistan          AFG  1992       81.118           0.010000
793   Afghanistan          AFG  1993       80.830           0.010000
1057  Afghanistan          AFG  1994       80.538           0.010000
...           ...          ...   ...          ...                ...
6071     Zimbabwe          ZWE  2012       67.166          36.728878
6335     Zimbabwe          ZWE  2013       67.346          37.076813
6599     Zimbabwe          ZWE  2014       67.499          32.300000
6863     Zimbabwe          ZWE  2015       67.624          33.700000
7127     Zimbabwe          ZWE  2016       67.723          38.145138

[7128 rows x 5 columns]